# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file
.env

# fuzzing files
src/fuzzing.sol
test/fuzzing.t.sol

# extra oponzeppelin contracts
lib/oponzeppelin-contract-06/
helpers/

# others
crytic-export/
notepad.md